{% load static %}
<footer id="footer" class="footer bg-overlay">
    <div class="footer-main">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-4 col-md-6 footer-widget footer-about">
            <h3 class="widget-title">About Us</h3>
            <img loading="lazy" class="footer-logo" src="{% static 'images/logo_dus.jpg' %}" alt="dus4t">
            <p>At Dusfourty Real Estate, we specialize in a wide range of real estate services, including property buying and selling, leasing and rental management, and investment consulting.</p>
            <div class="footer-social">
              <ul>
                <li><a href="https://facebook.com/themefisher" aria-label="Facebook"><i
                      class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://twitter.com/themefisher" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                </li>
                <li><a href="https://instagram.com/themefisher" aria-label="Instagram"><i
                      class="fab fa-instagram"></i></a></li>
                <li><a href="https://github.com/themefisher" aria-label="Github"><i class="fab fa-github"></i></a></li>
              </ul>
            </div><!-- Footer social end -->
          </div><!-- Col end -->

          <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
            <h3 class="widget-title">Working Hours</h3>
            <div class="working-hours">
              We work 6 days a week, every day. Contact us if you have an emergency, with our
              Hotline and Contact form.
              <br><br> Sunday - Friday: <span class="text-right">10:00 - 17:00 </span>
              <br> Saturday: <span class="text-right">Holiday</span>
              <br> Holidays: <span class="text-right">Off</span>
            </div>
          </div><!-- Col end -->

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
            <h3 class="widget-title">Services</h3>
            <ul class="list-arrow">
              <li>Property Buying and Selling</li>
              <li>Leasing and Rental Management</li>
              <li>Investment Consulting</li>
              <li>Valuation and Appraisal</li>
              <li>Property Management</li>
              <li>Real Estate Development</li>
            </ul>
          </div><!-- Col end -->
        </div><!-- Row end -->
      </div><!-- Container end -->
    </div><!-- Footer main end -->

    <div class="copyright">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="copyright-info text-center">
              <span>Copyright &copy; <script>
                  document.write(new Date().getFullYear())
                <br></script>, Designed &amp; Developed by: <a href="https://facebook.com/upretybnd">Binod uprety</a></span>
            </div>
          </div>

          <div class="col-md-12">
            <div class="copyright-info text-center">
              <span>Managed by: <a href="https://www.linkedin.com/in/upretybnd/">Binod Uprety</a></span>
              <br><span>Phone Number: 9844604999/9807933339</a></span>
            </div>
          </div>

          </div>
        </div><!-- Row end -->

        <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top position-fixed">
          <button class="btn btn-primary" title="Back to Top">
            <i class="fa fa-angle-double-up"></i>
          </button>
        </div>

      </div><!-- Container end -->
    </div><!-- Copyright end -->
  </footer><!-- Footer end -->
